.profile-container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }

  .profile-avatar {
    background-color: #1976d2; 
    width: 42px;
    height: 42px;
  }
  
  .center-container {
    text-align: center;
    background-color: #919395; 
    border-radius: 20px; 
    color: rgb(13, 12, 12);

  }
  
  .profile-container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #5c6d7d;


  }
  
  .profile-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    height: 260px;

  }